{% extends 'asha_worker/worker_base.html' %}
 {% block content %}
     {% load static %}
      {% if message %}
         <script> alert("{{ message }}")</script>
     {% endif %}
<section class="banner-area relative about-banner" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Add Children
							</h1>
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="contact.html"> Vaccination</a></p>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start contact-page Area -->
			<center><section class="contact-page-area section-gap">
				<div class="container">
					<div>

{#						<div class="col-lg-4 d-flex flex-column address-wrap">#}
{#							<div class="single-contact-address d-flex flex-row">#}
{#								<div class="icon">#}
{#									<span class="lnr lnr-home"></span>#}
{#								</div>#}
{#								<div class="contact-details">#}
{#									<h5>Binghamton, New York</h5>#}
{#									<p>#}
{#										4343 Hinkle Deegan Lake Road#}
{#									</p>#}
{#								</div>#}
{#							</div>#}
{#							<div class="single-contact-address d-flex flex-row">#}
{#								<div class="icon">#}
{#									<span class="lnr lnr-phone-handset"></span>#}
{#								</div>#}
{#								<div class="contact-details">#}
{#									<h5>00 (958) 9865 562</h5>#}
{#									<p>Mon to Fri 9am to 6 pm</p>#}
{#								</div>#}
{#							</div>#}
{#							<div class="single-contact-address d-flex flex-row">#}
{#								<div class="icon">#}
{#									<span class="lnr lnr-envelope"></span>#}
{#								</div>#}
{#								<div class="contact-details">#}
{#									<h5>support@colorlib.com</h5>#}
{#									<p>Send us your query anytime!</p>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
						<div class="col-lg-8">
							<form class="form-area contact-form text-right"  method="post">
                            {% csrf_token %}
								<div class="row">
									<div class="col-lg-6 form-group">
										<input name="name" placeholder="Enter your name"  class="common-input mb-20 form-control" required="" autocomplete="off" type="text">


                                        <input name="contact" placeholder="Enter Contact"  class="common-input mb-20 form-control" required="" autocomplete="off" type="text" pattern="[6-9]{1}[0-9]{9}">
                                        <input name="age" placeholder="Enter Age"  class="common-input mb-20 form-control" required="" autocomplete="off" type="date">

										<input name="disease" placeholder="Other Disease"  class="common-input mb-20 form-control" required="" autocomplete="off" type="text">
                                        <input name="username" placeholder="Username"  class="common-input mb-20 form-control" required="" autocomplete="off" type="text">

									</div>
                                    <div class="col-lg-6 form-group">

                                        <input name="address" placeholder="Enter Address"  class="common-input mb-20 form-control" required="" autocomplete="off" type="text">
                                        <input name="email" placeholder="Enter Email"  class="common-input mb-20 form-control" required="" autocomplete="off" type="email">
										<input name="ward" placeholder="Enter Ward Number"   class="common-input mb-20 form-control" required="" autocomplete="off" type="number">
                                        <select class="common-input mb-20 form-control" required name="center">
                                            <option value="">Select Nearest Primary Center</option>
                                            {% for dri in id  %}
                                            <option value="{{ dri.id}}">{{ dri.user.first_name}},{{ dri.address}}</option>
                                            {% endfor %}
                                        </select>
                                    <input name="password" placeholder="Password"  class=" form-control" required="" type="password">


									</div>



									<div class="col-lg-12">
										<div class="alert-msg" style="text-align: left;"></div>
										<button type="submit" class="genric-btn primary" style="float: right;">Add</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section></center>

{% endblock %}