{% extends 'admin/admin_base.html' %}
{% block content %}
{% load static %}

    
    <section class="banner-area relative about-banner" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								  Request Status
							</h1>
							<p class="text-white link-nav"><a href="index.html">Primary Center </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html">Primary Centers</a></p>
						</div>
					</div>
				</div>
			</section>
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">

          </div>
        </div>
    <div id="page-inner">
<table class="table table-bordered table-striped table-hover">

<th class="info">Request Qty</th>

<th class="info">Request Date</th>

<th class="info">Vaccine</th>
<th class="info">Center Details</th>

<th class="info">Request Status</th>
<th class="info">Update</th>






{% for dri in va  %}

<tr  style="background-color: white">
    <td> :{{ dri.rqty}}</td>
    <td>{{ dri.rdate }}</td>
    <td>{{ dri.vacci.vname }}</td>
    <td>{{ dri.center_id.user.first_name }}<br>
        {{ dri.center_id.address }}<br>
        {{ dri.center_id.contact }}<br>
    </td>

    <td>{{ dri.rstatus }}</td>
    {% if dri.rstatus == 'Request' %}
    <td><a href="UpdateReq?id={{ dri.id }}&qt={{ dri.rqty }}&va={{ dri.vacci.id }}" class="btn btn-success">Update</a></td>
    {% else %}
        <td></td>
    {% endif %}











</tr>

    {% endfor %}
</table>
    </div>
      </div>
    </section>
{% endblock %}